<div class="container">
<div class="alert col-5 d-flex" role="alert">
 <strong>持ち物リストを作成</strong>
</div>
</div>
 <div>
  <%= form_with model: @list, local: true do |f| %>
   <div class="field">
        <%= f.label :place, "行き先" %>
        <%= f.text_field :place, autofocus: true %>旅行
   </div>
   <div class="field">
        <%= f.label :date, "宿泊日数" %>
        <%= f.text_field :date, autofocus: true %>泊
   </div>
   <div class="field">
        <%= f.label :gender, "男性" %>
        <%= f.radio_button :gender, 1 %>
        <%= f.label :gender, "女性" %>
        <%= f.radio_button :gender, 2 %>
   </div>
   <div class="field">
     　　<%= f.label :purpous,"温泉" %>
         <%= f.radio_button :purpouse, 1  %>
         <%= image_tag "onsen.png" %>
        <%= f.label :purpous,"プール" %>
         <%= f.radio_button :purpouse, 2  %>
         <%= image_tag "pool.png" %>


   </div>
   <div class="field">
        <%= f.label :weather, "天気" %>
   </div>
   <%= f.submit "リスト作成", class:"btn btn-success" %>
   <% end %>
 </div>
