<h2> ログイン</h2><br>
<table>
<%= form_for :session, url: login_path, local: true do |f| %>
<tr>
 <td><%= f.label :email, "メールアドレス" %></td>
 <td><%= f.text_field :email %></td>
</tr>
<tr>
 <td><%= f.label :password, "パスワード" %></td>
 <td><%= f.password_field :password %></td>
</tr>
</table><br>
<div>
 <%= f.submit "ログイン", class:"btn btn-success" %>
</div>
<% end %>

