<div class="container px-5 px-sm-0">

    <div id="error_explanation">
        <% if @memory.errors.any? %>
          <h3><%= @memory.errors.count %> error prohibited this obj from being saved:
          <ul>
            <li>
            <% @memory.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
            </li>
          </ul>
        <% end %>
      </div>


<div class="container">
<div class="alert alert-dark col-5 d-flex" role="alert">
  <div class="col-md-8 offset-md-1">
  <strong>みんなの思い出</strong>
 </div>
</div>
　 <table class="table table-hover table-inverse">
　 <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th></th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
　 <% @memories.each do |memory|%>
　 <tr>
　  <td><span>
　  <%= memory.user.name %>
　  </span></td>
  　<td><span><%= link_to memory.title,memory_path(memory) %></span></td>
  　<td><span><%= memory.image %></span></td>
 　  <td><span><%= memory.body %></span></td>
　 </tr>
　<%end%>
　</tbody>

　</table>
  </div>
