<div class="container">
<div class="alert alert-dark col-5 d-flex" role="alert">
  <strong>memoty detail</strong>
  <table class="table">
  <tbody>
  <tr>
　 <tbody>
　 <tr>
　  <%=link_to @memory.user.name, user_path(@memory.user) %></td>
  　<td><span><%=link_to @memory.title,book_path(@memory)%></span></td>
  　<td><span><%=@memory.image %></span></td>
 　  <td><span><%=@memory.body %></span></td>
 　<% if @memory.user == current_user %>
 　<td><span><%= link_to "Edit", edit_memory_path(@memory), class: "btn btn-sm btn-success" %></span>
 　</td>
 　 <td><span><%= link_to" Destroy", memory_path(@memory), method: :delete, class: "btn btn-sm btn-danger" %></span></td>
 　<%end%>
　</tr>
　</tbody>
  </table>
  </div>
 </div>

