<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">

     <h2>User info</h2>

      <table class="table table-hover table-inverse">
       <tr>
        <%=link_to user_path(@memory.user) do %>
        <%= attachment_image_tag @memory.user, :profile_image, :fill, 63, 63, fallback: "NO_IMAGE.jpeg", size:'63x63' %>
        <% end %>
        </tr>
       <tr>
	      <th>name</th>
	      <th><%= @memory.user.name %></th>
       </tr>
       <tr>
        <th>introduction</th>
        <th><%= @memory.user.introduction %></th>
       </tr>
       </table>


    <div class="row">
     <%=link_to "", edit_user_path(@memory.user), class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user" %></a>
    </div>


    </div>

  <div class="col-md-8 offset-md-1">
  <h2>memoty detail</h2>
  <table class="table">
  <tbody>
  <tr>
　 <tbody>
　 <tr>
　  <td><span><%= attachment_image_tag @memory.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %></span><br>
　  <%=link_to @memory.user.name, user_path(@memory.user) %></td>
  　<td><span><%=link_to @memory.title,book_path(@memory)%></span></td>
  　<td><span><%=@memory.image_tag%></span></td>
 　  <td><span><%=@memory.body%></span></td>
 　<% if @memory.user == current_user %>
 　<td><span><%= link_to "Edit", edit_memory_path(@memory), class: "btn btn-sm btn-success" %></span>
 　</td>
 　 <td><span><%= link_to" Destroy", memory_path(@memory), method: :delete, class: "btn btn-sm btn-danger" %></span></td>
 　<%end%>
　</tr>
　</tbody>
  </table>
  </div>
 </div>
</div>
