<!DOCTYPE html>
<html>
  <head>
    <title>Tabicheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div class="container px-lg-0">
    <div class="row">
    <div class="col-md-3 pull-right d-flex align-items-center">
    <h3>タビチェック</h3>
    </div>
    <div class="col-md-9">

   <nav class="navbar navbar-light bg-white" >
    <div class="navbar-right">
      
    </div>
   </nav>

    </div>

    </header>

    <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>
  </body>
</html>
